<h1>User</h1>

<form (submit)="onSubmitAction($event)">
    <div class="form-group">
        <label for="">Name</label>
        <input type="text" name="name" class="form-control">
    </div>
    <button class="btn btn-primary" type="submit">Add User</button>
</form>

<ul *ngIf="user.length > 0" class="list-unstyled">
    <li>
        <ul *ngFor='let i of user' [class.list-unstyled]="i.isActive" class="mb-3 card card-body"
            [ngClass]="i.isActive ? 'bg-warning' : 'bg-danger'"
            [ngStyle]="i.isActive ? {'font-weight': 500, 'color': 'red', 'font-size': '1.5rem'}: {}">
            <h4>
                {{i.name | uppercase}} {{i.surname | lowercase}}
                <small>
                    <button class="btn btn-sm" [ngClass]="i.isActive ? 'btn-danger' : 'btn-dark'"
                        (click)="i.hide = !i.hide">
                        <i class="fa" [ngClass]="i.hide ? 'fa-plus' : 'fa-minus'"></i>
                    </button>
                </small>
            </h4>
            <ul *ngIf="!i.hide" class="list-unstyled">
                <li [ngStyle]="i.isActive ? {'font-weight': 500, 'text-decoration': 'underline', 'color': 'blue'}: {}">
                    School: {{i.school.schoolName}}
                </li>
                <li>
                    isActive: {{i.isActive}}
                </li>
                <li [ngStyle]="i.isActive ? style : defaultStyle">
                    Date: {{i.date | date: 'fullDate'}}
                </li>
            </ul>

        </ul>
    </li>

</ul>

<!-- <ng-template #NoUser>
    <h4>Loading...</h4>
</ng-template> -->
<!-- <h4 *ngIf="user?.length === 0">Loading...</h4> -->
<!-- <h4 *ngIf="user.length == 0">No Users Found</h4> -->